@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@theme {
  --font-main: "Paperlogy";
  --font-sub: "Lee";
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/fonts/Paperlogy-6SemiBold.ttf");
}

@font-face {
  font-family: "Lee";
  src: url("/fonts/Lee.ttf");
}
